@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Courier+Prime:400,700&display=swap");

html {
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin: 0;
  background: rgb(233, 233, 233);
  background: linear-gradient(
    0deg,
    rgba(233, 233, 233, 1) 0%,
    rgba(189, 179, 169, 1) 100%
  );
}

input,
button,
div.toolbar span {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 40px !important;
  outline: none;
  border: 2px solid black;
  border-radius: 4px;
  padding: 0 12px;
  vertical-align: middle;
  background: white;
  color: black;
  margin: 0;
  -webkit-appearance: none;
}

input {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  background: rgb(244, 244, 244);
  background: linear-gradient(
    0deg,
    rgba(244, 244, 244, 1) 0%,
    rgba(242, 238, 233, 1) 100%
  );
  padding-top: 4px;
  line-height: 36px !important;
  box-shadow: inset 5px 5px 10px -10px rgba(0, 0, 0, 0.7);
}

button.primary {
  background: rgb(245, 130, 7);
  color: white;
}

button.cancel {
  background: rgb(113, 110, 107);
  color: white;
}

input:disabled,
button:disabled,
input:disabled:hover,
button:disabled:hover {
  color: #888 !important;
  background: #eee !important;
  cursor: default;
}

button {
  padding: 0 14px;
}

button:hover {
  cursor: pointer;
  background: black;
  color: white;
}

h1 {
  font-weight: 400;
  margin: 0 0 12px 0;
  padding: 0;
}

div.game {
  overflow: visible;
  max-width: 900px;
  margin: 30px auto;
  box-shadow: 11px 10px 35px -14px rgba(0, 0, 0, 0.75);
}

div.game,
div.box {
  background: white;
  border: 2px solid black;
  padding: 20px;
  border-radius: 3px;
}

div.box {
  padding: 8px;
  margin: 8px 0;
}

div.box h2 {
  margin: -8px -8px 8px -8px;
  padding: 8px 10px;
  font-size: 15px;
  font-weight: 700;
  background: black;
  color: white;
}

div.box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div.box li {
  margin: 0;
  padding: 0;
}

p {
  margin: 12px 0;
}

p.error {
  color: rgb(199, 10, 10);
  font-weight: 500;
}

div.toolbar {
  clear: both;
}

div.toolbar * {
  margin: 8px 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

div.toolbar * + * {
  border-left: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

div.toolbar *:last-child {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-right: 2px solid black !important;
}

div.toolbar span {
  background: #eee;
}

div.players {
  width: 300px;
  float: right;
  margin-top: 0;
}

div.players li.team-red span.nickname {
  color: red;
}

div.players li.team-blue span.nickname {
  color: blue;
}

div.chat {
  font-family: "Courier Prime", monospace;
  margin-top: 0;
  margin-right: 330px;
}

div.chat ul {
  max-height: 120px;
  overflow-y: auto;
}

div.tiles {
  margin: 18px 0;
  background: rgb(233, 233, 233);
  background: linear-gradient(
    0deg,
    rgba(233, 233, 233, 1) 0%,
    rgba(189, 179, 169, 1) 100%
  );
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  box-shadow: inset 10px 10px 22px -25px rgba(0, 0, 0, 0.8);
}

div.tiles div.tile {
  margin: 8px;
  padding: 20px 0;
  width: calc((100% / 5) - 20px);
  border: 2px solid #555;
  border-radius: 4px;
  text-align: center;
  background: #eee;
  font-size: 90%;
  font-weight: 700;
  cursor: default;
  background-image: url(paper.png);
  box-shadow: 5px 5px 25px -15px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
  color: black;
  opacity: 0.9;
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

div.tiles div.tile.unspotted.can-guess:hover {
  border-color: black;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
  background: white;
  background-image: url(letter.png);
  background-size: cover;
  background-position: 50% 0;
  color: #555;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 1);
  cursor: pointer;
}

div.tiles div.tile.assassin {
  background-image: url(assassin.png);
  background-size: cover;
  background-position: 50% 40%;
}

div.tiles div.tile.blue-agent {
  background-image: url(agent-blue.png);
  background-size: cover;
  background-position: 50% 30%;
}

div.tiles div.tile.red-agent {
  background-image: url(agent-red.png);
  background-size: cover;
  background-position: 50% 30%;
}

div.tiles div.tile.bystander {
  background-image: url(bystander.png);
  background-size: cover;
  background-position: 50% 30%;
}

p.turn-info {
  float: right;
}
