@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background: white;
}

input,
button {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 32px !important;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0 10px;
  vertical-align: bottom;
  background: white;
  color: black;
  margin: 0;
  -webkit-appearance: none;
}

input {
  font-family: "Courier Prime", monospace;
  background: #eee;
}

button {
  padding: 0 14px;
}

button:hover {
  cursor: pointer;
  background: black;
  color: white;
}

h1 {
  font-weight: 300;
  margin: 0 0 12px 0;
  padding: 0;
}

div.game {
  background: white;
  border: 1px solid black;
  margin: 30px;
  padding: 20px;
}

p {
  margin: 12px 0;
}

p.explanation {
}

p.intro {
}

p.error {
  color: rgb(199, 10, 10);
  font-weight: 500;
}

div.toolbar * {
  margin: 16px 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

div.toolbar * + * {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

div.toolbar *:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
